.topHeader {
    text-align: center;
}

.weaponHead, .weaponData {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

#weaponTable {
    margin-left: auto;
    margin-right: auto;
}
