HTML {
    --color-background: #302C2B; 
    --color-accent: #BB3B3B;
    --color-text: #FFF2EF;
    --font-family: Helvetica;

    font-family: var(--font-family);
    background-color: var(--color-background);
    text-align: center;
    color: var(--color-text);
    margin-left: 20%;
    margin-right: 20%;
}

h1, p, nav, label {
    background-color: var(--color-background);
}

hr.thin {
    height: 2px;
    border: 0;
    color: var(--color-text);
    background-color: var(--color-text);
    width: 90%;
    margin-bottom: 50px;
    }

.checkform{
    background-color: var(--color-text);
    color: var(--color-background);
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: normal;
}

.checkform label {
    background-color: var(--color-text);
}

.checkbutton{
    margin:20px;
    background-color: var(--color-accent);
    color: var(--color-text);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

button{
    margin: 2rem;
    background-color: var(--color-text);
    border: none;
    color: var(--color-background);
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.footer{
    position: fixed; 
    padding: 10px 10px 0px 10px; 
    bottom: 0; 
    width: 850px;
    background-color: var(--color-background);
}

.buttons{
    margin: 2rem;
    padding-top: 0px;
}

.btn:visited, .btn:link {
    display: block;
    font-size: 20px;
    margin-top:30px;
    background-color: var(--color-accent);
    color: var(--color-text);
    padding: 20px 22px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-left: 30%;
    margin-right: 30%;
  }

    .btn:hover, .btn:focus {
    background-color: #c64141;
}

.topHeader {
    text-align: center;
}


.weaponHead, .weaponData {
    background-color: var(--color-background);
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

#weaponTable {
    margin-left: auto;
    margin-right: auto;
}

div {
    display: block;
    padding-top:20px;
}

.inputLabel {
    font-weight: bold;
}


nav > ul {
    justify-content: center;
    margin-left:-40px;
    display: flex;
    flex-direction: row;
}

nav > ul > li{
    padding-left:10px;
    padding-right:10px;
    display: flex;
    flex-direction: row;
}

nav ul {
    list-style-type: none;
}

nav button, nav a {
    display: block;
    width: 9em;
    height: 50px;
    font-size: 15px;
    color: var(--color-text);
    display: flex;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    align-items: center;
    justify-content: center;
} 

nav button:hover, button:focus, nav a:hover, nav a:focus {
    font-weight: bolder;
}
