<!DOCTYPE html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="author" content="Eugenia, Elaney, Christine, and Raine">
    <link rel='stylesheet' type= "text/css" href="{{url_for('static', filename = 'style.css')}}">
    {% block head_stuff %} 
    {% endblock %}
</head>

<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="messages">
            {% for msg in messages %}
            <p>{{msg}}</p>
             {% endfor %}
        </div>
        {% endif %}
    {% endwith %}


    {% block top %}
    {% endblock %}

    {% block main %}
    {% endblock %}

    {% block foot %}
    {% endblock %}
</body>
