<!DOCTYPE html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="author" content="Eugenia, Elaney, Christine, and Raine">

    <link rel='stylesheet' type= "text/css" href="{{url_for('static', filename = 'style.css')}}"/>
    
    {% block head_stuff %} 
    {% endblock %}
</head>

<body>
    {% block nav %}
    {% endblock %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="messages">
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% block logo %}
    
    {% endblock %}

    {% block top %}
    {% endblock %}

    {% block main %}
    {% endblock %}



    {% block foot %}
    {% block logout %}
    <div class = "footer">
    <form class = "method="GET" action="{{url_for('cas.logout')}}">
        <button class = "logoutButton">logout</button>
    </form>
    {% endblock %}
    <p>
        &copy 2020 - Elaney Cheng, Christine Lam, Raine Tenerelli, Eugenia Zhang <br>
        Special thanks to Scott Anderson for being an amazing professor!
    </p>
    </div>
    {% endblock %}
</body>
