{% extends "base.html" %}

{% block top %}
    <h1 class="topHeader">Check Out Your Weapon</h1>
{% endblock %}

{% block main %}
<form method=POST action="/checkout/">
    <table>
        <tr>
          <td><label for="wid">Weapon ID</label></td>
          <td><input required id="wid" type="text" name="wid" placeholder="e.g. 1234"></td> 
        </tr>
        <tr>
          <td><label for="email">Email</label></td>
          <td><input required id="email" type="email" name="email" placeholder="e.g. wendyw@wellesley.edu"></td> 
        </tr>
        <tr>
          <td><label for="checkoutdate">Current Date</label></td>
          <td><input required id="checkoutdate" type="date" name="checkoutdate" placeholder="e.g. 2020-10-04"></td> 
        </tr>
    </table>
    <input type="submit" name="submit" value="Check Out">
</form>

{% endblock %}
