{% extends "base.html" %}

{% block head_stuff %} 
    <title>Check Out Weapon</title>
    <meta name="description" content="Form allows you to check out your weapon">
{% endblock %}

{% block nav %}
{% include "navbar.html" %}
{% endblock %}

{% block top %}
    <h1 class="topHeader">Check Out Your Weapon</h1>
{% endblock %}

{% block main %}
<div class = "checkform">
<form method=POST action="/checkout/">
    <!--WEAPON DROP DOWN-->
    <div>
        <label class="inputLabel" for="wid">Weapon ID</label>
        <select required id="wid" name="wid">
            <option value="select">--select--</option>
            {% for weapon in weapons: %}
                <option value="{{ weapon.wid }}">{{ weapon.wid }} {{ weapon.type }} {{ weapon.condition }}</option>
            {% endfor %}
        </select>
    </div>

    <!--CHECK OUT DATE-->
    <div>
        <label class="inputLabel" for="checkoutdate">Current Date</label></td>
        <input required id="checkoutdate" type="date" name="checkoutdate" placeholder="e.g. 2020-10-04"></td> 
    </div>

    <!--SUBMIT DATE-->
    <div>
        <input class = "checkbutton" type="submit" name="submit" value="Check Out">
    </div>
</form>
</div>
{% endblock %}
