{% extends "base.html" %}

{% block head_stuff %} 
    <title>Check In Weapon</title>
    <meta name="description" content="Form allows you to check in your weapon">
{% endblock %}

{% block nav %}
{% include "navbar.html" %}
{% endblock %}

{% block top %}
    <h1 class="topHeader">Check In Your Weapon</h1>
{% endblock %}

{% block main %}
<form method=POST action="/checkin/">
    <!--WEAPON DROP DOWN-->
    <div class="checkininput">
        <label class="inputLabel" for="wid">Weapon ID</label>
        <select required id="wid" name="wid">
            <option value="select">--select--</option>
            {% for weapon in weapons: %}
                <option value="{{ weapon.wid }}">{{ weapon.wid }} {{ weapon.type }} {{ weapon.condition }}</option>
            {% endfor %}
        </select>
    </div>

    <!--CHECK IN DATE-->
    <div class="checkininput">
        <label class="inputLabel" for="checkindate">Current Date</label>
        <input required id="checkindate" type="date" name="checkindate" placeholder="e.g. 2020-10-04">
    </div>

    <!--CONDITION 'good', 'moderate', 'bad'-->
    <div class="checkininput">
        <label class="inputLabel">Condition: </label>
        <input required id="good" type="radio" name="condition" value="good">
        <label for="good">Good</label>
        <input required id="moderate" type="radio" name="condition" value="moderate">
        <label for="moderate">Moderate</label>
        <input required id="bad" type="radio" name="condition" value="bad">
        <label for="bad">Bad</label>
    </div>

    <!--SUBMIT DATE-->
    <div class="checkininput">
        <input type="submit" name="submit" value="Check In">
    </div>
</form>

{% endblock %}
