{% extends "base.html" %}

{% block head_stuff %} 
    <title>New Member</title>
    <meta name="description" content="Adds new user to program.">
{% endblock %}

{% block top %}
    <h1 class="topHeader">Create Your Account</h1>
{% endblock %}

{% block main %}
    <form method="POST" style="text-align: center;" action="/addmember/">
        <div style="padding-bottom: 5px;">
            <label for="newName"><strong>Enter your name: </strong></label>
            <input required id="newName" type="text" name="newName" placeholder="e.g. Wendy Wellesley">
        </div>
        <div style="padding-bottom: 10px;">
            <label for="newEmail"><strong>Enter your Wellesley email: </strong></label>
            <input required id="newEmail" type="text" name="newEmail" placeholder="e.g. wwellesley@wellesley.edu">
        </div>
        <input type="submit" value="Create Account">
    </form>
{% endblock %}