{% extends "base.html" %}

{% block head_stuff %} 
    <title>Weapons</title>
    <meta name="description" content="Displays all weapons and allows filtering">
{% endblock %}

{% block nav %}
{% include "navbar.html" %}
{% endblock %}

{% block top %}
    <h1 class="topHeader">Weapons</h1>
{% endblock %}

{% block main %}
<form method="POST" action="{{url_for('weapons')}}" style="text-align: center; padding-bottom: 5px;">
    <label for="filter-label">Filter by: </label>
    <select name="weapon-type" >
        <option value="select">--select--</option>
        <option value="all">All Weapons</option>
        <option value="broadsword">Broadsword</option>
        <option value="chain">Chain</option>
        <option value="fan">Fan</option>
        <option value="staff">Staff</option>
        <option value="straightsword">Straightsword</option>
    </select>
    <input type="submit" value="Apply">
</form>
<table id="weaponTable">
    <tr>
        <th class="weaponHead"><strong>ID</strong></th>
        <th class="weaponHead"><strong>Type</strong></th>
        <th class="weaponHead"><strong>Condition</strong></th>
        {% if isEboard %}
        <th class="weaponHead"><strong>Delete</strong></th>
        {% endif %}
    </tr>

    {% for weapon in allWeaponsList: %}
    <tr wid={{weapon.wid}}>
        <td class="weaponData">{{ weapon.wid }}</td>
        <td class="weaponData">{{ weapon.type }}</td>
        <td class="weaponData">{{ weapon.condition}}</td>
        {% if isEboard %}
        <td class="weaponData delete">X</td>
        {% endif %}
    </tr>
    {% endfor %}

</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script> 
var URL = "{{url_for('deleteWeaponAjax')}}";
$("#weaponTable").on("click",".delete",function (event) { 
    if( event.target != this) return; 
    var wid = $(this).closest('[wid]').attr('wid');
    $.post(URL, {'wid':wid}, delete_row, "JSON");  
 });

function delete_row(obj) {
    wid = obj.wid;
    $("[wid = "+wid+"]").find(".delete").text("deleted");
}

</script>


{% endblock %}